body {
    /*background-color: black;*/
}

header {
    position: relative;
    width: 100%;
    margin: 0 0 50px;
    border-bottom: 1px solid;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
    display: inline;
}
.left-nav {
    float: left;
}
.right-nav {
    float: right;
}

#center {
    width: 100%;
    text-align: center;
}
#logo img {
    height: 92px;
    width: 272px;
    margin-top: 100px;
    margin-bottom: 25px;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: lightgray;
    border-top: 1px solid;
}
footer ul {
    width: 40%;
    padding: 8px;
}
footer li {
    display: inline;
}
#left-foot {
    float: left;
    text-align: left;
}
#right-foot {
    float: right;
    text-align: right;
}
