body {
    /*background-color: black;*/
}
header {
    position: relative;
    margin-top: 0;
    border-bottom: 1px solid;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#center {

}
footer {
    position: relative;
    margin-bottom: 0;
    border-top: 1px solid;
}
#logo {
    width: 50%;
    height: auto;
}
